body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    padding-left: 80px;
}

.header ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 100px;
}

.header ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.bot {
    display: flex;
    background-color: #1f2937;
    padding: 50px;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.left-bot p {
    color: #e5e7eb;
    font-size: 18px;
}

.left-bot {
    padding: 24px;
}

.placeholder {
    background-color: #949da8;
    width: 525px;
    height: 240px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    background-color: #3882f6;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.blocks {
    display: flex;
    padding: 50px;
}

.block {
    padding: 0 50px;
    text-align: center;
}

.place {
    height: 175px;
    width: 175px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.qoute {
    background-color: #e5e7eb;
    padding: 100px;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

figcaption {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}